body{
    background-color:lightblue;
    background-image: url("baby.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed; 
    

}
h2{
    font-size:60px;
    font-weight:bold;
    margin-top:6px;
    color:red;
    text-align: center;
    font-family:sans-serif;

}
h5{
    border-style:dotted;
    border-width:4px;
    border-color:blue;
    border-radius:5px;
    font-size:40px;
    text-align:center;
    margin-top:20px;
    margin-left:10px;
    margin-right: 10px;
    padding-left:10px;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:20px;
    height:50px;
    width:100%;

}
#color{
    font-size:20px;
    color:red;
    text-align:justify;
    text-decoration:underline;
    text-transform: capitalize;
    text-indent: 40px;
    letter-spacing: 1px;
    word-spacing:2px;
}
a{
    color:hotpink;
}
a:hover{
    color:brown;
}
a:visited{
    color:green;
}
#abc{
    list-style: circle;
}
#xyz{
    list-style: upper-alpha;
}
table th,td{
    border:1px solid;
}
td{
    text-align: center;
}